@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandstander&display=swap');

.App {
  text-align: center;
  background-image: url(https://cdn.guidingtech.com/imager/assets/2020/01/251217/Best-Rick-and-Morty-wallpapers-for-desktop-4k-2_4d470f76dc99e18ad75087b1b8410ea9.jpg?1578464144);
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  background-attachment:fixed;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #cdaf09c0;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  margin-bottom: 5%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img {
  border: 3px solid rgb(0, 0, 0);
  border-radius: 50%;
  width: 60%;
  opacity: 60%;
}

img:hover{
  opacity: 100%;
}

h2 {
  font-family: 'Creepster', cursive;
  font-size: 1.5rem;
  color: black;
}

p {
  font-family: 'Grandstander', cursive;
  font-size: 1rem;
  color: black;
}

.charactersContainer{
  /* border: 1px solid red; */
  background-color: #cdaf09c0;
  border-radius: 5%;
  margin: auto;
  width: 25%;
  margin-bottom: 2%;
  padding: 2%;
}

.characterBox {
  display: flex;
  flex-wrap: wrap;
}
